@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

$black: #333333;
$deep-black: #222222;
$grey: #A5A5A5;
$green: #1AB248;
$white: #FFFFFF;

$font-roboto: 'Roboto', sans-serif;

